
footer {
  margin-top: auto;
  text-align: center;
}

.footer-text {
  color: #fbe8d3;
  font-family: var(--text-font-primary);
  font-size: 0.7rem;
  display:flex;
  align-items: center;
  justify-content: center;
}

.footer-text a {
  text-decoration: underline;
  cursor: pointer;
}