<div class="h-full w-full flex flex-column">
  <header class="mb-auto">
    <mat-toolbar>
      <button mat-icon-button class="xl:hidden lg:hidden" aria-label="Example icon button with a menu icon" [mat-menu-trigger-for]="menu">
        <mat-icon>menu</mat-icon>
      </button>
      <mat-menu #menu>
      </mat-menu>
      <nav class="hidden">
        <a routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">#Principal</a>
        <a routerLink="/abouttechnology" routerLinkActive="active">#Sobre_tecnologia</a>
        <a routerLink="/playground" routerLinkActive="active">#Playground</a>
        <a routerLink="/about" routerLinkActive="active">#Sobre</a>
        <a routerLink="/contact/me" routerLinkActive="active">#Contato</a>
      </nav>
    </mat-toolbar>
  </header>
  <main class="px-3">
    <router-outlet></router-outlet>
  </main>
  <footer>
    <p class="footer-text">
      Produzido e mantido por&nbsp;<a href="https://github.com/zeduardu" target="_blank" rel="noopener">José Eduardo</a>,&nbsp;<img src="../../../assets/img/copyright_vector.svg" alt="Imagem de copyright" />&nbsp;2021 zeduardu.dev.br&nbsp;<img src="../../../assets/img/heart_vector.svg" alt="Imagem de coração"/>
    </p>
  </footer>
</div>
