<nav class="navbar navbar-expand-lg navbar-dark">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExample08" aria-controls="navbarsExample08" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse justify-content-md-center" id="navbarsExample08">
    <ul class="navbar-nav text-fira-500">
      <li class="nav-item active">
        <a class="nav-link" routerLink="/">#Principal</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/abouttechnology">#Sobre_tecnologia</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">#Playground</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/public/about">#Sobre</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/public/contact/me">#Contato</a>
      </li>
    </ul>
  </div>
</nav>
<router-outlet></router-outlet>
