<div class="container mt-5">
  <div class="row">
    <div class="col">
      <img
        class="img-fluid"
        src="../../../../assets/img/aboutme-cover.jpg"
        alt=""
      />
    </div>
    <div class="col d-flex flex-column justify-content-center">
      <h2 class="text-fira-400">Vamos lá,</h2>
      <h1 class="text-montserrat-700">Me chamo José Eduardo</h1>
      <p class="text-fira-400">
        Desenvolvedor Freelancer, Servidor público e entusiasta das mais
        diversas tecnologias.
      </p>
    </div>
  </div>
  <div class="row my-5">
    <div class="col">
      <h2 class="text-fira-700 color-orange text-center">#Sobre o site</h2>
      <p class="mt-4 text-center text-fira-400">
        Criei este site com a única intenção de acompanhar minha jornada de
        desenvolvedor ao longo do tempo, assim como aprimorar minhas habilidades
        na mais diversas tecnologias e também para compartilhar conhecimento.
        Pensamento neste último, veio a idéia de compartilhar notícias sobre
        tecnologia, experiências da minha jornada, tutoriais, etc. Às vezes,
        também compartilharei alguns pensamentos aleatórios sobre a vida.
      </p>
    </div>
  </div>
  <div class="row my-5">
    <div class="col">
      <h2 class="text-fira-700 color-orange text-center">#Experiência</h2>
      <p class="mt-4 text-center text-fira-400">
        Atualmente trabalho na Universidade Federal de Sergipe no cargo de
        Técnico de Laboratório | Área: Informática, mas sem uma função definida,
        sou aquele profissional multithread que uma hora está como administrador
        de redes, outra hora está desenvolvendo apps para projetos de extensão,
        em outro momento estou fazendo hardening em servidores Linux e por aí
        vai. No entanto, venho me especializando em educação e estudando muito
        disciplinas que envolvem tecnologias na educação.
      </p>
      <div class="my-4 d-flex justify-content-around">
        <span class="border border-info p-2 color-cyan">POO</span>
        <span class="border border-info p-2 color-cyan">Virtualização</span>
        <span class="border border-info p-2 color-cyan">Servidores</span>
        <span class="border border-info p-2 color-cyan">Redes</span>
      </div>
    </div>
  </div>
  <div class="row my-5">
    <div class="col">
      <h2 class="text-fira-700 color-orange text-center">#Ferramentas</h2>
      <p class="mt-4 text-center text-fira-400">
        Já trabalhei com várias tecnologias como: C#, ASP.NET, PHP, Windows
        Server 2000 e etc. Hoje venho estudando: Typescript, Angular, Java,
        Spring Boot, Docker e assim por diante só para citar algumas. O
        desenvolvimento de aplicativos móveis com Dart e Flutter também é uma
        das minhas tecnologias da lista dos favoritos para aprender, isso é
        devido há algumas experências no desenvolvimento de aplicativos móveis
        em projetos de extensão para a Universidade e que foram implantados no
        Campus onde trabalho.
      </p>
      <div class="my-4 d-flex justify-content-around">
        <span class="border border-info p-2 color-cyan">VSCode</span>
        <span class="border border-info p-2 color-cyan">Docker</span>
        <span class="border border-info p-2 color-cyan">Angular</span>
        <span class="border border-info p-2 color-cyan">Spring Boot</span>
        <span class="border border-info p-2 color-cyan">Hyper-V</span>
      </div>
    </div>
  </div>
</div>
