.read-more {
  position: fixed;
  height: 100%;
  top: 0;
  right: 0;
  z-index: 9999;
  transition: width 2s;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
}

.read-more-hide {
  width: 0;
  overflow: hidden;
}

.read-more-display {
  width: 100%;
  overflow: auto;
}

.read-more-content {
  background-color: #333333;
  width: 75%;
  height: 95%;
}
