<div class="container mt-5">
  <div class="row">
    <div class="col">
      <div class="card bg-transparent text-light border-0">
        <div class="body">
          <h5 class="card-title text-montserrat-600i">Lorem ipsum</h5>
          <p class="card-text text-fira-400">{{getResume('Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec at tempus elit, sit amet convallis enim. Praesent consectetur placerat odio, vel porttitor elit commodo sit amet. Nullam varius, velit at mollis commodo, erat nunc rutrum nisi, at accumsan augue nunc vitae ligula. Integer tristique pharetra convallis. Nullam sed diam et diam ornare accumsan. Aenean gravida velit sed sapien tempus consequat. Pellentesque venenatis ipsum vitae erat iaculis rutrum. Donec hendrerit tempor nisi, ut sollicitudin dolor condimentum id. Aliquam turpis turpis, vehicula eu dui ut, mollis luctus massa. Nam magna nibh, blandit id porta ut, mattis sit amet nibh. In augue urna, luctus non rhoncus sed, pellentesque blandit mi. Aenean sed massa neque. Nunc dui est, tincidunt sit amet libero a, faucibus accumsan diam.')}}</p>
          <a href="#" class="card-link btn btn-outline-primary">Leia mais</a>
        </div>
      </div>
    </div>
    <div class="col">
      <img class="img-fluid mx-auto d-block" src="https://dummyimage.com/500x500/000/6b6b6b.jpg" alt="Dummy image">
    </div>
  </div>
</div>
