<div class="zd-d-flex zd-flex-column zd-align-items-center">
  <h2 class="zd-text-fira-400">Vamos lá,</h2>
  <h1 class="zd-text-montserrat-700">Me chamo José Eduardo</h1>
  <p class="zd-text-fira-400">
    Desenvolvedor Freelancer, Servidor público e entusiasta das mais diversas
    tecnologias.
  </p>
  <div class="w-full text-center" style="font-size: xx-large;">
    <a class="mx-2" href="https://twitter.com/zeduardu">
      <fa-icon [icon]="['fab', 'twitter']"></fa-icon>
    </a>
    <a class="mx-2" href="https://br.linkedin.com/in/jeccosta">
      <fa-icon [icon]="['fab', 'linkedin']"></fa-icon>
    </a>
    <a class="mx-2" href="https://github.com/zeduardu">
      <fa-icon [icon]="['fab', 'github']"></fa-icon>
    </a>
    <a class="mx-2" href="https://www.instagram.com/zeduardu/">
      <fa-icon [icon]="['fab', 'instagram']"></fa-icon>
    </a>
  </div>
</div>
