<div class="d-flex flex-column align-items-center">
  <h2 class="text-fira-400">Vamos lá,</h2>
  <h1 class="text-montserrat-700 text-center">Me chamo José Eduardo</h1>
  <p class="text-fira-400 text-center">
    Desenvolvedor Freelancer, Servidor público e entusiasta das mais diversas
    tecnologias.
  </p>
  <div class="container">
    <div class="row zd-justify-content-evenly" style="font-size: xx-large;">
      <a href="https://twitter.com/zeduardu">
        <fa-icon [icon]="['fab', 'twitter']"></fa-icon>
      </a>
      <a href="https://br.linkedin.com/in/jeccosta">
        <fa-icon [icon]="['fab', 'linkedin']"></fa-icon>
      </a>
      <a href="https://github.com/zeduardu">
        <fa-icon [icon]="['fab', 'github']"></fa-icon>
      </a>
      <a href="https://www.instagram.com/zeduardu/">
        <fa-icon [icon]="['fab', 'instagram']"></fa-icon>
      </a>
    </div>
  </div>
</div>
