<div class="container mt-4 text-white">
  <div class="row">
    <button class="btn btn-primary" (click)="return()">Voltar</button>
    <div class="my-3">
      <h1 class="text-montserrat-400">{{post.title}}</h1>
    </div>
    <div class="my-3">
      <h4 class="text-montserrat-300">{{post.resume}}</h4>
    </div>
    <div class="my-3 w-100">
      <div class="mb-2 mr-2 d-flex flex-row">
        <img class="rounded-circle" src="https://dummyimage.com/48x48/000/3b3b3b.jpg"/>
        <div class="ml-2">
          <div class="text-fira-400" style="font-size: 0.80rem">{{post.author}}</div>
          <div class="text-montserrat-400" style="font-size: 0.80rem">{{util.getFirebaseTimestamp(post.date).toDate() | date:"d/M/yy à's' h:mm"}}</div>
        </div>
      </div>
      <div class="border-top border-white d-flex flex-column align-items-end mt-2">
        <span class="bg-white rounded-bottom text-black-50 p-1">{{post.category.title}}</span>
      </div>
    </div>
    <div class="my-3">
      {{post.content}}
    </div>
  </div>
</div>
