
<ng-template #content let-modal>
  <form [formGroup]="formGroup">
  <div class="modal-header">
    <h5 class="modal-title">{{edit ? 'Atualizar' : 'Adicionar'}} categoria</h5>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss()">
      <span>&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div class="form-group">
      <label for="inputTitle">Título:</label>
      <input formControlName="title" type="text" class="form-control" id="inputTitle" aria-describedby="categoryTitle">
    </div>
    <div class="form-group">
      <label for="inputDescription">Descrição:</label>
      <input formControlName="description" type="text" class="form-control" id="inputDescription">
    </div>
  </div>
  <div class="modal-footer">
    <button type="submit" class="btn btn-primary" (click)="saveEvent()">{{edit ? 'Atualizar' : 'Adicionar'}}</button>
  </div>
</form>
</ng-template>

<div class="card">
  <div class="card-header d-flex flex-row justify-content-between align-content-center">
    <h3 class="mt-auto mb-auto">Categorias</h3>
    <button type="button" class="btn btn-outline-info btn-lg" (click)="addEvent(content)">
      <fa-icon icon="plus"></fa-icon>
    </button>
  </div>
  <div class="card-body">
    <table class="table table-striped table-hover table-bordered" aria-describedby="Lista de categorias cadastradas">
      <thead class="text-center">
        <tr>
          <th scope="col">Nome</th>
          <th scope="col">Descrição</th>
          <th scope="col">Ações</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let category of postCategories$ | async">
          <td class="text-center align-middle">{{category.title}}</td>
          <td class="text-center align-middle">{{category.description}}</td>
          <td class="d-flex justify-content-around align-items-center">
            <button type="button" (click)="saveEvent()" class="btn btn-success">
              <fa-icon icon="edit"></fa-icon>
            </button>
            <button type="button" (click)="deleteEvent()" class="btn btn-danger">
              <fa-icon icon="trash"></fa-icon>
            </button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
