@import url("https://fonts.googleapis.com/css2?family=Fira+Code:wght@400;500;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;700&display=swap");

html,
body {
  height: 100%;
  background-color: #1b1b1f;
  color: #FAF9F0;
}

.text-fira-400 {
  font-family: 'Fira Code', monospace;
  font-style: normal;
  font-weight: 400;
}

.text-fira-400-16pt {
  font-family: 'Fira Code', monospace;
  font-style: normal;
  font-weight: 400;
  font-size: 16pt;
}

.text-fira-400-20px {
  font-family: 'Fira Code', monospace;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
}

.text-fira-500 {
  font-family: 'Fira Code', monospace;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 26px;
}

.text-fira-700 {
  font-family: 'Fira Code', monospace;
  font-style: normal;
  font-weight: 700;
}

.text-montserrat-300 {
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  font-weight: 300;
}

.text-montserrat-300-2pt {
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 2pt;
}

.text-montserrat-300-4pt {
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 4pt;
}

.text-montserrat-300-8pt {
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 8pt;
}

.text-montserrat-400 {
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  font-weight: 400;
}

.text-montserrat-500 {
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  font-weight: 500;
}

.text-montserrat-600i {
  font-family: 'Montserrat', sans-serif;
  font-style: italic;
  font-weight: 600;
  font-size: 32px;
  line-height: 126.78%;
}

.text-montserrat-700 {
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  font-weight: 700;
}

.color-white {
  color: #FAF9F0;
}

.color-orange {
  color: #F6490D;
}

.color-cyan {
  color: #1DCED8;
}

.bg-color {
  color: #1B1B1F;
}

.zd-justify-content-evenly {
  -ms-flex-pack: distribute !important;
  justify-content: space-evenly !important;
}